{% extends "Layouts/public.twig" %}


{% block content %}
<div class="min-h-[89vh] bg-cover bg-center bg-no-repeat px-6 sm:px-30 py-6 flex items-center justify-center"  style="background-image: url('/Assets/Bacground1.png');">
    <div class="flex flex-col xl:flex-row w-full" >
        <div class="flex flex-col justify-center gap-y-2">
            <p class="font-zen-antique font-400 text-xl sm:text-5xl">Welcome to</p>
            <h2 class="text-8xl xl:text-[9rem] leading-15 xl:leading-28 text-[#A96B44] font-400  font-zen-antique text-shadow-sm text-shadow-[#8c8989]">FlourEver</h2>
            <p class="font-zen-antique font-400 text-2xl text-[#A69273]">The sweet spots for cravings</p>

            <button onclick="location.href='/products'" class="w-fit bg-[#A96B44] shadow-md shadow-[#8c8989] text-white flex gap-x-4 pr-3 pl-2 py-1 border border-black rounded-full">Order Now  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
            </button>    
        </div>
        <img src="/Assets/PileOfDonuts.png" alt="Delicious baked goods" class="w-160 ml-auto">
    </div>
</div>
{% endblock %}
